extends ./layout.jade

block title
  title First 

block content
  section 
    h1 My Article 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum tenetur commodi modi, assumenda quos possimus vel fuga aperiam eos, necessitatibus laboriosam cum dolorem n 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum tenetur commodi modi, assumenda quos possimus vel fuga aperiam eos, necessitatibus laboriosam cum dolorem n 
    a(href="#") google
  section 
    h1 My second article
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quos accusantium, asperiores odit aperiam harum nesciunt, provident perspiciatis perferendis sunt consectetur voluptatibus a, pariatur exercitationem repellendus dignissimos? Aliquid, veniam ullam?
    a(href="@") Mr potato
  
