doctype
html(lang="es")
    head
        block title
        include partials/head.jade
    body
        block header

        main(role="main")
            block content

        footer(role="contentinfo")
            include partials/footer.jade
            
        include partials/scripts.jade