section.seccion_hero
    .row
        .cont_hero
            h1 My Article 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum tenetur commodi modi, assumenda quos possimus vel fuga aperiam eos, necessitatibus laboriosam cum dolorem n 
            a(href="#") google
